@{
    ViewBag.Title = "Vue Page";
    Layout = null;
}

<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/vue.min.js"></script>
<script src="~/Scripts/vue-router.js"></script>

<!DOCTYPE html>
<html>
<head>
    <title>Маршрутизация Vue.js</title>
    <meta charset="utf-8" />
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline-block;
        }

        a {
            padding: 5px;
        }

            a.router-link-active, li.router-link-active > a {
                color: red;
            }
    </style>
</head>
<body>
    <div id="app">
        <ul>
            <li><router-link to="/" exact>Home</router-link></li>
            <li><router-link to="/products/1">Product 1</router-link></li>
            <li><router-link to="/products/2">Product 2</router-link></li>
        </ul>
        <router-view></router-view>
    </div>
    <script>
        const NotFound = { template: '<h2>Page Not Found</h2>' }
        const Home = {
            template: '<p> ТЕСТ </p>' }
        const Products = { template: '<h2>Product $route.params.id </h2>' }

        const routes = [
            { path: '/', component: Home },
            { path: '/products/:id', component: Products },
            { path: '*', component: NotFound }
        ];

        const router = new VueRouter({
            mode: 'history',
            routes: routes
        });

        new Vue({
            el: '#app',
            router: router
        })
    </script>
</body>
</html>